@using AutodeskForgeSample.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="mdl-layout-spacer"></div>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col", role = "form", id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Use a local account to log in.</h2>
    </div>
        <div class="mdl-card__actions mdl-card--border">
            @Html.ValidationSummary("", new { @class = "text-info" })
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input" })
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
                @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
            </div>
            <div class="form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    @Html.CheckBoxFor(m => m.RememberMe, new {@class = "mdl-checkbox__input", type = "checkbox"})
                    @Html.LabelFor(m => m.RememberMe, new {@class = "mdl-checkbox__label"})
                </label>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised" value="Log in"/>
                </div>
            </div>
            <br/>
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Register as a new user", "Register")
            </div>
        </div>

        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
}
@*<section id="loginForm">

</section>*@
<div class="mdl-layout-spacer"></div>

@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}