<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- The Viewer CSS -->
    <link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css" type="text/css">
</head>

<body>
    <div class="mdl-layout__container">
        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">My Forge Web Viewer</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="@Url.Action("Index", "Home")">Home</a>
                        <a class="mdl-navigation__link" href="@Url.Action("About", "Home")">About</a>
                        <a class="mdl-navigation__link" href="@Url.Action("Contact", "Home")">Contact</a>
                        <a class="mdl-navigation__link" href="@Url.Action("ForgeViewer", "Home")">Viewer</a>
                        @Html.Partial("_LoginPartial")
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer mdl-layout--small-screen-only" aria-hidden="true">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="@Url.Action("Index", "Home")">Home</a>
                    <a class="mdl-navigation__link" href="@Url.Action("About", "Home")">About</a>
                    <a class="mdl-navigation__link" href="@Url.Action("Contact", "Home")">Contact</a>
                    <a class="mdl-navigation__link" href="@Url.Action("ForgeViewer", "Home")">Viewer</a>
                    @Html.Partial("_LoginPartial")
                </nav>
            </div>

            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    @RenderBody()
                    <hr />
                </div>
                @*<footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">@DateTime.Now.Year - My ASP.NET Application</div>
                    </div>
                    <div class="mdl-mini-footer__right-section">
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Privacy &amp; Terms</a></li>
                        </ul>
                    </div>
                </footer>*@
            </main>

            <div class="mdl-layout__obfuscator"></div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
