@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
        <a class="mdl-navigation__link" title="Manage" href="@Url.Action("Index", "Manage", routeValues: null)">Hello @(User.Identity.GetUserName()) !</a>
        <a class="mdl-navigation__link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
    <a class="mdl-navigation__link" href="@Url.Action("Register", "Account", routeValues: null)" id="registerLink">Register</a>
    <a class="mdl-navigation__link" href="@Url.Action("Login", "Account", routeValues: null)" id="loginLink">Log in</a>
}